<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>RDP DEMO演示</title>
	<base th:href='${#httpServletRequest.scheme.concat("://").concat(#httpServletRequest.serverName).concat(":").concat(#httpServletRequest.serverPort).concat(#httpServletRequest.contextPath).concat("/")}'/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="pragma" content="no-cache" />
	<meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
	<meta name="Keywords" content="keyword1,keyword2,keyword3" />
	<meta name="Description" content="网页信息的描述" />
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>

	<link rel="stylesheet" th:href="@{/css/ucs.css}" />
	<link rel="stylesheet" th:href="@{/css/index.css}" />
	
	<script th:inline="javascript" type="text/javascript">
		var UcsmyIndex = UcsmyIndex || {};
		var myRoles = [[${user_roles}]];
		var myModules = [[${user_modules}]];
		var myUser = {
				"userName": [[${userProfile.account.account}]],
				"email": [[${userProfile.email}]],
				"mobilephone": [[${userProfile.mobilephone}]],
				"name": [[${userProfile.name}]],
				"roleName": [[${userProfile.role == null ? "null" : userProfile.role.name}]],
				"loginTime": [[${#dates.format(loginUser.loginTime,'yyyy-MM-dd HH:mm:ss')}]],
				"orgName": [[${userProfile.org == null ? "null" : userProfile.org.name}]]
			}
	</script>
</head>
<body>
<div id="main"></div>

<script type="text/javascript" th:src="@{/libs/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/Javascript/comm.js}"></script>

<script type="text/javascript" th:src="@{/libs/es5-shim.min.js}" ></script>
<script type="text/javascript" th:src="@{/libs/es5-sham.min.js}" ></script>
<script type="text/javascript" th:src="@{/libs/react.min.js}" ></script>
<script type="text/javascript" th:src="@{/libs/react-dom.min.js}" ></script>
<script type="text/javascript" th:src="@{/libs/u_event_hub.js}"></script>
<script type="text/javascript" th:src="@{/libs/u-ajax.min.js}"></script>
<script type="text/javascript" th:src="@{/libs/ucsmy-ui.js}"></script>
<script type="text/javascript" th:src="@{/libs/public.js}"></script>
<script type="text/javascript" th:src="@{/pages/main/index.js}"></script>
<script type="text/javascript" th:src="@{/libs/public.js}"></script>
</body>
</html>