<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>RDP-DEMO演示平台</title>
    <base th:href='@{/}'/>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
    <meta name="Keywords" content="keyword1,keyword2,keyword3" />
    <meta name="Description" content="网页信息的描述" />


    <link rel="stylesheet" type="text/css" th:href="@{/css/ucs.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/theme.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
    <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}"/>
    <script th:inline="javascript" type="text/javascript">
        //console.log("ctx:" + [[${ctx}]]);
        //var ctx = [[${ctx}]];
        //	var ctx = [[${#httpServletRequest.scheme.concat("://").concat(#httpServletRequest.serverName).concat(":").concat(#httpServletRequest.serverPort).concat(#httpServletRequest.contextPath).concat("/")}]]
    </script>

</head>
<body>

<div id="main"></div>

<script type="text/javascript" th:src="@{/libs/es5-shim.min.js}" ></script>
<script type="text/javascript" th:src="@{/libs/es5-sham.min.js}" ></script>
<script type="text/javascript" th:src="@{/libs/react.min.js}" ></script>
<script type="text/javascript" th:src="@{/libs/react-dom.min.js}" ></script>
<script type="text/javascript" th:src="@{/libs/u-eventhub.js}"></script>
<script type="text/javascript" th:src="@{/libs/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/libs/ucsmy-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/libs/public.js}"></script>
<script type="text/javascript" th:src="@{/pages/login/index.js}"></script>
<script type="text/javascript" th:src="@{/libs/encryption.js}"></script>



</body>
</html>